[Unit]
Description=Auto Mount NFS in background (non-blocking)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/nfs-auto-mount/scripts/mount-nonblocking.sh &
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
